{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <body>
        <div class="container main">
            <h3 class="text-center">Connexion</h3><br>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('connexion') }}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="_username" placeholder="Identifiant" required>
                </div>
            
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Mot de passe" required>
                </div>
            
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Se Connecter</button>
                </div>
            </form>
        </div>
        
    </body>

{% endblock %}