{% block header %}

    <meta http-equiv="refresh" content="7; url=/connexion">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>{% block title %}Validation de l'Inscription{% endblock %}</title>

{% endblock %}

{% block body %}
    <style> 
        body{
            background-color: #e9ebee;
        }
    </style>

    <body>
        <div class="container main">
                <br>
                <h2><b>Vous avez réussi à vous inscrire avec succès. Félicitation !</b></h2>
                <h4>Vous allez être redirigé automatiquement vers la page de connexion dans <span id="compt"></span> <span id="ortho"></span></h4>
                <span id="error"></span>
                <a href="/connexion"><h6><b><span id="redir"></span></b></h6></a>
        </div>
            
        <script type="text/javascript">
            var durrest = 7;
            var seconde = "secondes"
            var erreur = "<br>Erreur de redirection automatique, Merci de cliquer sur le lien si dessous ...";
            var redirection = "REDIRECTION MANUELLE";
            compt();
            function compt()
            {
                document.getElementById('compt').innerHTML=durrest;
                if(durrest == 1){
                    seconde = "seconde"
                    document.getElementById('ortho').innerHTML=seconde; 
                }
                else{
                    document.getElementById('ortho').innerHTML=seconde; 
                }
                setTimeout(compt, 1000)
                if(durrest < 0){
                    durrest = 0;
                    document.getElementById('error').innerHTML=erreur;
                    document.getElementById('redir').innerHTML=redirection;
                }
                durrest -= 1;
            }
        </script>
    </body>
{% endblock %}