{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <body>
        <div class="container main">
            <h3 class="text-center">Posts</h3><br>
           
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <div class="form-group">
                    <a href="/nouveauPost"><button type="submit" class="btn btn-success">Nouveau post</button></a>
                </div>

                {% for post in posts %}
                    <div class="post">                    
                        <h5>{{ post.titre }}</h5>
                        <a href="/post/{{ post.id }}"><button type="submit" class="btnPost">Voir le post</button></a>
                        <p>Par {{ post.utilisateur.identifiant }}</p>
                        <p class="datePost">{{ post.dateCreation | date("d/m/Y") }}</p>                        
                    </div>       
                {% endfor %}
            {% else %}
                    <h5>Connectez-vous pour accéder aux posts !</h5>

            {% endif %}
            

            
        </div>
    </body>
{% endblock %}
