{% extends 'base.html.twig' %}

{% block title %}Nouveau Post{% endblock %}

{% block body %}
    <body>
        <div class="container main">
            <h3 class="text-center">Nouveau Post</h3>
            <div>
                {{ form_start(form)     }}
                {{ form_widget(form)    }}
                {{ form_end(form)       }}
            </div>
        </div>
    </body>
{% endblock %}
