{% extends 'base.html.twig' %}

{% block title %}{{ post.titre }}{% endblock %}

{% block body %}
    <body>
        <div class="container main">
                <p class="floatRight">{{ post.dateCreation | date("d/m/Y H:i:s") }} <br></p>
                <h4 class="utilisateur">{{ post.utilisateur.identifiant }}</h4>
                <h4>{{ post.titre }}</h5><br>
                <p>{{ post.contenu }}</p><br>
                
                <form action="/like/{{ post.id }}" method="get">
                    <input type="image" class="imgLike" src="/images/logo_like.png" alt="like">
                    {{ post.nombreLike }}    
                </form>
                                
                <hr>
                <div>                    
                    {{ form_start(form)     }}
                    {{ form_widget(form)    }}
                    {{ form_end(form)       }}
                </div>
                    
                <div class="commentaires">
                    <hr>
                    {% for commentaire in commentaires %} 
                        <p class="floatRight">{{ commentaire.dateCreation | date("d/m/Y H:i:s") }}</p>                       
                        <p class="utilisateur">{{ commentaire.utilisateur.identifiant }}</p> {{ commentaire.contenu }}
                        <hr>
                    {% endfor %}
                </div>
                   
        </div>
    </body>
{% endblock %}
