<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>

    <style>
        body{
            font-family: Tahoma, Geneva, sans-serif;
            background-color: #e9ebee;
        }

        .nav{
            background:#333391;
            margin-bottom: 2%;
            padding: 10px;           
        }        

        .nav a{
            text-decoration: none;
            color: #ececf5;
            padding: 0% 2%;
            font-size: 17px;
        }

        .nav a:hover{
            color: #d1d1f0;
        }

        .imgNav{
            width: 100%;
        }

        .form-control{
            margin-bottom: 2%;
        }

        .post{
            border-style: double;
            border-color: #333391;
            background-color: rgb(255, 255, 255) ;
            border-width: 2px;
            padding: 1% 0% 0% 1%;
            margin: 5% 0%;
            width: 60%;
            border-radius: 5px;
        }
        
        .floatRight{
            float: right;
        }

        .imgLike{
            width: 3%;
        }

        .utilisateur{
            color:#333391;
            font-weight:bold;
        }

        .btn-success{
            color:#ececf5;
            background-color: #333391; 
            border-color: #333391;
        }

        .btn-success:hover{
            background-color: #2a2a79;
        }

        .btnPost{
            border-style: solid;
            border-width: 1px;
            border-color: #333391;
            border-radius: 5px;
            padding: 1% 4%;                       
            color:#ececf5;
            background-color: #333391;
            margin-right: 30%;
            float: right;
            cursor: pointer;
        }

        .btnPost:hover{
            background-color: #2a2a79;
        }
 
    </style>

    <body>
        {% block header %}
        <img class="imgNav" src="/images/LR.jpg" alt="la rochelle">
            <div class="nav">
                <a href="{{ path('posts') }}">Posts</a>
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <a href="{{ path('deconnexion') }}">Déconnexion</a>         
                {% else %}
                    <a href="{{ path('inscription') }}">Inscription</a>
                    <a href="{{ path('connexion') }}">Connexion</a>
                {% endif %}
            </div>
        {% endblock %}

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
